
{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Employee Information</title>

   {% include "bootstrap.html" %}
</head>

  <body>
    {% include "navbar_emp.html" %}

    <br>
    
    <div class="row">
          <div class="col-sm-1 col-md-1 col-lg-1">
            
          </div>
          <div class="col-sm-10 col-md-10 col-lg-10">
              <font color="black"><h3>Goal  Details</h3></font><br>            
          </div>
          <div class="col-sm-1 col-md-1 col-lg-1">
            
          </div>
    </div>

    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
          <table align="center"  class="table">
          <tr>
             <th>Sr. No. </th>
              <th>Employee ID</th>
            <th>Goal Title</th>
            <th>Goal Description</th>
            <th>Due date</th>
              <th>Update</th>
              <th>Delete</th>
          </tr>
          {% for stored_empData in emp_goal_setting_data %}
          <tr>
            <td>{{ forloop.counter }}</td>
              <td>{{ stored_empData.email}}</td>
               <td>{{ stored_empData.goal_title}}</td>
               <td>{{ stored_empData.goal_description}} </td>
               <td>{{ stored_empData.due_date}}</td>
               <td><a class="btn btn-secondary" href="{% url 'update_order' stored_empData.id %}">Update</a></td>
               <td><a class="btn btn-danger" href="{% url 'delete_order' stored_empData.id stored_empData.goal_id %}">Delete</a></td>
          </tr>
          {% endfor %}

          </table>
        
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
    </div>



  </body>
</html>