{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Employee Information</title>

    {% include "bootstrap.html" %}
</head>

  <body>
     {% include "navbar_emp.html" %}

    <hr>


    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
        <h3>Goal  Details</h3></font>
        <hr>
        <table class="table table-stripped">
        <tr>
           <th>Sr. No. </th>
            <th>Goal Title</th>
            <th>Goal Description</th>
            <th>Due date</th>
            <th>Self Comment</th>
            <th>Self Ratings</th>
            <th>Edit</th>
        </tr>
        {% for stored_empData in emp_goal_setting_data %}

            <tr>
                  <td>{{ forloop.counter }}</td>
                    <td>{{ stored_empData.goal_title}}</td>
                    <td>{{ stored_empData.goal_description}} </td>
                    <td>{{ stored_empData.due_date}}</td>
                     <td>{{ stored_empData.employee_comment}}</td>
                     <td>{{ stored_empData.employee_ratings}} </td>
                     <td><button><a class="btn btn-secondary"  href="{% url 'add_emp_feedback' stored_empData.id stored_empData.email  %}">Update</a></button></td>
                </tr>

        {% endfor %}

        </table>
        
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
    </div>


  </body>
</html>