{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goal Setting Form</title>
     {% include "bootstrap.html" %}
</head>
<body style="color:w" >


{% include 'navbar_emp.html'%}


      <form  name="myForm" onsubmit="return validateForm()" method="post" action= "{% url 'save_emp_goal_Data' %}" >
          {% csrf_token %}
		<font color="red"><span>{{error}}</span></font><br>
          <div class="row">
              <div class="col-25">
                  <label for="emp_id">Employee Email-ID</label>
              </div>
              <div class="col-75">
                  <input type="text" id="emp_id" name="emp_id" placeholder="write employee id for whom you are setting goals here.."  >
              </div>
          </div>
    <div class="row">
      <div class="col-25">
        <label for="goal_title">Goal title</label>
      </div>
      <div class="col-75">
        <input type="text" id="goal_title" name="goal_title" placeholder="write goal title here.."  >
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="due_date">Due date</label>
      </div>
      <div class="col-75">
        <input type="text" id="due_date" name="due_date" placeholder="YYYY-MM-DD should be in this formate" >
      </div>
    </div>

    <div class="row">
      <div class="col-25">
        <label for="goal_description">Goal description</label>
      </div>
      <div class="col-75">
        <textarea id="goal_description" name="goal_description" placeholder="write goal description here.." style="height:200px"></textarea>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Add">
    </div>
  </form>
</div>

</body>
</html>