{%load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Goal Setting Form</title>
	 {% include "bootstrap.html" %}

	 <style type="text/css">
	 	input[type="text"]
	 	{
	 		margin-bottom: 10px;
	 	}
	 	input[type="date"]
	 	{
	 		margin-bottom: 10px;
	 	}
	 </style>
</head>

<body>


  {% include "navbar.html" %}



<br>
<br>
<div style="">
	    <div class="row">
	      <div class="col-sm-1 col-md-1 col-lg-1">
	        
	      </div>
	      <div class="col-sm-10 col-md-10 col-lg-10">
	      	  <p><h3>Registration for employe</h3></p><hr>
	      </div>
	      <div class="col-sm-1 col-md-1 col-lg-1">
	        
	      </div>
	  </div>


	<form name="myForm" onsubmit="return validateForm()" method="post" action= "{% url 'save_emp_Data' %}" > {% csrf_token %}
		{% csrf_token %}


    <div class="row">
	      <div class="col-sm-1 col-md-1 col-lg-1">
	        
	      </div>
	      <div class="col-sm-5 col-md-5 col-lg-5">


				<input type="text" class="form-control" name="fname" placeholder="firstname , lastname" >
			

				<input type="text" class="form-control" name="email" placeholder="email for employe">

				<input type="text" class="form-control" name="password" placeholder="should be 8 letters and combination of letters and characters" >
			

			<select id="type" name="type" class="form-control">
				<option value="None">Select</option>
				<option value="Manager">Manager</option>
				<option value="Employee">Employee</option>
			</select>

	        
	      </div>
	      <div class="col-sm-5 col-md-5 col-lg-5">


				<input type="text" class="form-control" name="job_title" placeholder="job title" >


				
			        <div class="row">
					      <div class="col-sm-4 col-md-4 col-lg-4">

					      	<p><b>Date of joining</b></p>
					        
					      </div>
					      <div class="col-sm-8 col-md-8 col-lg-8">
			

							<input type="date" class="form-control" name="doj" placeholder="date of joining">
					        
					      </div>
			   		</div>

			        <div class="row">
					      <div class="col-sm-4 col-md-4 col-lg-4">

					      	<p><b>Last appraisel</b></p>
					        
					      </div>
					      <div class="col-sm-8 col-md-8 col-lg-8">
			

							<input type="date" class="form-control" name="last_ap_date" placeholder="previous appraisel date">
					        
					      </div>
			   		</div>



				<input type="text" class="form-control" name="evalute_by" placeholder="evaluation by" >

				<input type="text" class="form-control" name="reporting_mail" placeholder="reporting manager">

			
			<hr>
				<input type="submit" name="submit" class="btn btn-primary btn-md">

	      </div>
	      <div class="col-sm-1 col-md-1 col-lg-1">
	        
	      </div>


    </div>
	
	</form>
</div>

	
</body>
</html>




