{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Employee Information</title>

   {% include "bootstrap.html" %}
</head>

  <body>
  {% include "navbar_emp.html" %}

    <br>
    <table class="table table-striped">
      <font color="black">
        <center> <h1>Employee  Details</h1></center>
      </font><br>
    <tr>
       <th>Sr. No. </th>
        <th>Name </th>
        <th>Email-ID</th>
    </tr>
    {% for stored_empData in emp_goal_setting_data %}
    <tr>
      <td>{{ forloop.counter }}</td>
        <td>{{ stored_empData.fname}}</td>
        <td>{{ stored_empData.email}}</td>

    </tr>
    {% endfor %}

    </table>

  </body>
</html>