{% load static %}

<!DOCTYPE html>
<html>
<head>
  <title>Employee Information</title>
  {% include "bootstrap.html" %}
</head>

  <body>

    {% include "navbar.html" %}
    <br>
    <font color="black"><center> <h3>Employee  Details</h3></center></font><br>
    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
            <table class="table table-striped">
              
            <tr>
               <th>Sr. No. </th>
                <th>Name </th>
                <th>Email</th>
                <th>Department</th>
            </tr>
            {% for Data in manager_data %}
            <tr>
              <td>{{ forloop.counter }}</td>
                <td>{{ Data.name}}</td>
                <td>{{ Data.email}}</td>
                <td>{{ Data.dept}}</td>
            </tr>
            {% endfor %}

            </table>
        
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
    </div>


  </body>
</html>