{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Goal Setting Form</title>
     {% include "bootstrap.html" %}
</head>
<body style="color:w" >
 {% include "navbar_emp.html" %}



  <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">

  <form  name="myForm" onsubmit="return validateForm()" method="post" action= "{% url 'save_team_goal_Data' request.user.username %}" >
          {% csrf_token %}
        <font color="red"><span>{{error}}</span></font><br>


      <div class="row">
      <div class="col-sm-7 col-md-7 col-lg-7">
         <input type="text" id="goal_title" class="form-control" name="goal_title" placeholder="Goal title"  >       
      </div>
      <div class="col-sm-2 col-md-2 col-lg-2">
        <div align="right"><b>Due date</b></div>
      </div>
      <div class="col-sm-3 col-md-3 col-lg-3">
        <input type="date" id="due_date" class="form-control" name="due_date" >
        
      </div>
    </div>
<hr>
        <textarea id="goal_description" class="form-control" name="goal_description" placeholder="Goal description" style="height:200px"></textarea>
<hr>
      <input type="submit" value="Add" class="btn btn-primary">
  </form>
        
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
    </div>



</body>
</html>