
{% load static %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
  <title>Employee Information</title>

    {% include "bootstrap.html" %}
</head>

  <body style="color:white">
    {% include "navbar_emp.html" %}

    <hr>



    <div class="row">
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
      <div class="col-sm-10 col-md-10 col-lg-10">
      <form action="" class="form-control" method="POST">
        {% csrf_token %}
        {{form}}
        
        <input type="submit" name="Submit">
      </form>
        
      </div>
      <div class="col-sm-1 col-md-1 col-lg-1">
        
      </div>
    </div>

  </body>
</html>
{% endblock %}